
/* Ticker */

	/* Label */
	.mt-label {
		background-color:none;
	}
	
	/* News */
	.mt-news {
		background-color: none;
		width: 740px;
	}

	.mt-news ul {
		/* Preload */
		background-image: url("images/bullet-over.png");
	}
	.mt-news a {
		color: #243A71; text-decoration:none; font-weight:normal;
	}
	.mt-news a:hover {
		color: #CC364F; text-decoration:none; font-weight:normal;
	}
	
	.mt-news a:active {
		background-color: #0077ff;
	}
	
	
		.mt-news a.other{
		color:red; text-decoration:none; font-weight:normal; font-size:14px;
	}
	.mt-news a.other:hover {
		color: #CC364F; text-decoration:none; font-weight:normal;
	}

	
	/* Controls */

	.mt-prev {
		background-image:url(../images/preview-arrow.gif);
	}
	.mt-next {
		background-image:url(../images/next-arrow.gif);
	}



.modern-ticker{width:740px; margin:0 0 0 10px; height:40px; line-height:40px; font-size:14px; float:left; overflow:hidden;}
.modern-ticker a{text-decoration:none}
.modern-ticker ul{margin:0;padding:0;list-style:none}
.mt-label{padding:0 8px 0 12px;float:left}
.mt-news{height:100%;overflow:hidden;float:left; height:40px;}
.mt-scroll .mt-news{background-color:transparent}

.mt-news ul{width:50000px;background-repeat:no-repeat;background-position:-1000px}
.mt-news li{float:left}
.mt-news a{padding:0; background-repeat:no-repeat;background-position:7px center;display:block; font-weight:bold;}
.mt-news a:hover{color:#333; font-weight:bold;}
.mt-hide{display:none}
.mt-controls{height:100%;float:right; right:2px; background-repeat:no-repeat; background-position:-1000px;}
.mt-prev,.mt-next{width:30px;height:16px;background-repeat:no-repeat;background-position:center;cursor:pointer; margin-top:2px;}
*html .mt-prev,.mt-next{width:30px;height:16px;background-repeat:no-repeat;background-position:center;cursor:pointer; margin-top:0px;}
.mt-round .mt-next{border-radius:0 5px 5px 0}